{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="text-center">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts.<br>Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">
      <div>
        <a href="{% provider_login_url "google" process="connect" %}" style="margin: 20px;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABYElEQVRIieXVO0scYRTG8Z+Xwko0EMMaRQgpjOWCfSA2hlSCoNZByEcIaVMHtkgQv4D4DbRKkKiICNpEYquuNmKwM8tmU8wOGWdn55ZKfODA8HKe/znvvDcegp7jA77jHL9xiT18xFRZ8COsoIFWSjSxhpEi8EmcZIDjcdZuKlMVnBaE/8G7PPAe7CQADrCAx+28YcwJ1qWJt3ngsJgA/4S+lIam88JhPwZfK2LO0rjgX4bwW4z+L7Q/8l0VTDnUV9QTPPNYzuC2MItmtEAllnTcxTyBmYwC8AT13hyJZdWCaIGLWELpK6AN/xUfHNO5yE8TzAOCcxCN1+7uvh/dKse36bq7C5+kHmzEfF+6JS/oPGg16QetluCppnWznWA4xJJ/N+Yg3uBbQu5m2nQpd9mFcSXYxpmaxM+C8Bu8zAMPNYTPghcsC76LF0XgUT3De2wJHpUGrnGEVbwqC74f+gsL/Z79dQlZNgAAAABJRU5ErkJggg=="/>
      </a>
      <a href="{% provider_login_url "facebook" process="connect" %}" style="margin: 20px;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABpElEQVRIie3WO2tUQRjG8Z/iBexsVEyy3hstUoil2CvqitirkEoS/ToqSpo0QQvBD2BhGXuTKl7Au+AqGkPCWuwJToY9k3fPhlR5YOBw5n3m/74zc84M29oi7RggtoWruISjGK3ev8cinuMZ3m1WciO4jxV0N2irmK0SG0pt/AwA89bBlabQu3oVDApNq58aFNoeEPoDf2rg4cpHxab3M25hf+Ldi5dZXAeHI+BHAehvnKnxv+gT/3AjaEts9z7IfLsxjrN41Sd+xf/Pr68mA9AubiSefVgIeO6koJ0Z+GIpq0QfkucLOBXwrBs7Bx8Pgv8mzweCnhMlcGj3ZYr+dkdKnb/Ur9H5IKBuvTtpUF7xp+DgddqDYzV9H0vg+SHBJ7Grpm+hZLynfqpfY65qpxPP5eT9fME/WQIfwXLBvNbOJZ6bgfhljKWgfKrfYKaUWUNNC1wQWvhu8yr+ps/vMq8Y3mKiMg2rLm7rXY/CmlB/JkcqXq3GaKTr+NoA/AXXmkLXdAiPsRQAL+md5weHheYJTOGp9ZeANp7o3dGiB8a2tk7/ALB6+MZLhtiUAAAAAElFTkSuQmCC"/>
      </a>

      <a href="{% provider_login_url "github" process="connect" %}" style="margin: 20px;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAB0ElEQVRIie3WPWtUQRTG8V8SMEE7C41JDBK1tVZBIgo2QhJBrW0sFNQirZXfQiW+oJUQMJhgI/gJbKy0E7QLRFzBl5i4Fvdec507921XUuWByzJzz3P+58zO7Cw72iYNtIidxCzO4xAm0vlP+IBlLOHj/ypuHHexgW7Ns4lnaWF9aQ5fGwDDp4OZXqG3JB20hea7v9kWOtcnNA9v3PmE4vIexzEs1IAW0riTubkOxpqAY8mHg9WYxj4MpZ+n0/lMI4H/fh10Unz3HmlScU5HA/+GreMHBgPDbNpFqP0twaPBeCjNXaqXit0utoRmWgryrFQFv4+AT/QIPhXkeVcV3ImAh6sMFdoT5OnkX4bfcTjWB3gkGP+zd0LQaiTBdI/g0BfL/Vcrikv9RrH6Ou3G2yDPiyrDfATcxSsNf30k5/V1JMd8lekg1kvg3/AAlzAV+KZwGY/wPeJdx4G6ip/kDFfwPFLAucBzBj9KCu7icR2U5OJfSw2r2IunaeLPuF3iu1MC/aJBt5ku2roWrzb0HI5AN3GhKTTTdfyW/Kc6q35nD0ag19pCM81IljefsEpZzJoeOg01hnv41QD8Ew8Vb6e+NIob2FXyfkDzs76j7dMfXTjhKzmestYAAAAASUVORK5CYII="/>
      </a>

      <a href="{% provider_login_url "linkedin_oauth2" %}" style="margin: 20px;">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABh0lEQVRIie2Wv0oDQRCHv1gEIjYWEdQzKKQTH8R/Mfa+gXiSznewslPUxlKwUGLnA/gI2gRBxdacnckZi93jNuve3d5eFIv8YAiZ28w3M3c3GRjrj1TKcbYGbAHrwCLgSf8L8AS0gWvgeVTJzQMnQB8YZFgIXMrECqkJfFgAdQuAhit0H1FBXqhavZ8X2iwIVeHWlXv8bO8d0ALuHeABMGcDPjf8eFpeW3as/DQLWsP89O4AZeDAEdwnfv2M8h0D29iuCprQwKsJCZUU030zwCGiW5PANvBuiLGWVvFjQraqdJ9p+rUMMR7SwIEDGOAIuCLuYN0QIxg1eAr4kr669JWzwPo9fkvLKkEV4nZX5Oen4dxrGrjjALbVUGwdfPuL4HbaxQXMA0SV7qsqvhXDuQHQI2OAAJwZwEXtOAsK4o8/6el2sS4wawMGMcFsNo4sC4FNW2gkn+KLwF5eaKQGbm3vAhuu0EhVxEjsWQBD4AKLe5pnvfWI19slhtfbDmIG3MjvY/0ffQNl4j4IlhKkNgAAAABJRU5ErkJggg=="/>
      </a>

      </div>

      <div class="login-or border-top border-bottom my-3">{% trans 'OR' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid">
            <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Sign In" %}</button><br>
            <a class="button secondaryAction text-dark text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
        </form>
    </div>
  </div>
{% endblock %}
